


<ion-content>

  

  <!-- tab menu -->
  <ion-tabs >
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button class="ion-tab-button"tab="perfil">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="notificacion">
        <ion-icon class= "ion-icon"name="notifications-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="home">
        <ion-icon class= "ion-icon" name="home-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="ayuda">
        <ion-icon class= "ion-icon" name="help-circle-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="configuracion">
        <ion-icon class= "ion-icon" name="settings-outline"></ion-icon>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>

</ion-content>


