<!-- grid menu dento de un card-->

 <ion-card >
    <ion-grid>
        <ion-row class="ion-text-center">
            <ion-col size="4" routerLink="/proyecto">
                <ion-icon name="layers" color="warning" size="large"></ion-icon>
                <p>Proyecto</p>
            </ion-col>
            <ion-col size="4" routerLink="/registro">
                <ion-icon name="documents" color="warning" size="large"></ion-icon>
                <p>Registro</p>
            </ion-col>
            <ion-col size="4" routerLink="/mensajeria">
                <ion-icon name="mail" color="warning" size="large"></ion-icon>
                <p>Mensajeria</p>
            </ion-col>
        </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row class="ion-text-center">
          <ion-col size="4" routerLink="/archivo">
              <ion-icon name="folder-open" color="warning" size="large"></ion-icon>
              <p>Archivo</p>
          </ion-col>
          <ion-col size="4" routerLink="/formulario">
              <ion-icon name="document-text" color="warning" size="large"></ion-icon>
              <p>Formulario</p>
          </ion-col>
          <ion-col size="4" routerLink="/login">
              <ion-icon name="locate" color="warning" size="large"></ion-icon>
              <p>Objetivo</p>
          </ion-col>
      </ion-row>
  </ion-grid>
  </ion-card>
